# Police stations: Police_Stations_-_Map.csv
# Libraries: Libraries_-Locations_Hours_and_Contact_Information.csv
# Schools: Chicago Public Schools - School Loactions SY1011.geojson
# Todo: for each police report, find distance to nearest station, to nearest library, and to nearest school

In [42]:
import csv
import time
from collections import namedtuple
from math import sqrt
import geopandas as gpd
import pandas as pd
import shapely
from shapely.ops import nearest_points
import numpy as np
from scipy import ndimage
from scipy.spatial import cKDTree  

import matplotlib
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
from matplotlib.colors import ListedColormap
from matplotlib.ticker import MaxNLocator

def distance_to_nearest(row, geom_union, df1, df2, geom1_col='geometry', geom2_col='geometry', src_column=None):
    """Find the nearest point and return the corresponding value from specified column."""
    # Find the geometry that is closest
    nearest = df2[geom2_col] == nearest_points(row[geom1_col], geom_union)[1]
    #df1.set_index("id")
    df1.head()
    df2.set_index("UNIT_ID")
    # Get the corresponding value from df2 (matching is based on the geometry)
    nearest_id = df2[nearest][src_column].get_values()[0]
    start_point = row['geometry']
    end_point = df2[nearest]['geometry']
    #print("IDs for origin {0}, and destination {1}".format(row.id, nearest_id))
    #dist_to_point = df1.loc[row.id]['geometry'].distance(df2.loc[nearest_id]['geometry'])
    #dist_to_point = start_point.distance(end_point)
    #distances.append(dist_to_point)
    dist_to_point = []
    return nearest_id, dist_to_point

>>> # Basic example
>>> Point = namedtuple('Point', ['x', 'y'])
>>> p = Point(11, y=22)     # instantiate with positional or keyword arguments
>>> p[0] + p[1]             # indexable like the plain tuple (11, 22)
33
>>> x, y = p                # unpack like a regular tuple
>>> x, y
(11, 22)
>>> p.x + p.y               # fields also accessible by name
33
>>> p                       # readable __repr__ with a name=value style
Point(x=11, y=22)

In [44]:
DTN_Args = namedtuple("DTN_Args", ['geom_union', 'df1', 'df2', 'geom1_col', 'geom2_col', 'src_column'])

In [40]:
#def distance_to_nearest(row, geom_union, df1, df2, geom1_col='geometry', geom2_col='geometry', src_column=None):
def distance_to_nearest(row, dtn_args):
     """Find the nearest point and return the corresponding value from specified column."""
     #distances = []
     df1 = dtn_args.df1
     df2 = dtn_args.df2
     geom1_col = dtn_args.geom1_col
     geom2_col = dtn_args.geom2_col
     geom_union = dtn_args.geom_union
     src_column = dtn_args.src_column if dtn_args.src_column is not None else None
     # Find the geometry that is closest
     nearest = df2[geom2_col] == nearest_points(row[geom1_col], geom_union)[1]
     # Get the corresponding value from df2 (matching is based on the geometry)
     nearest_id = df2[nearest][src_column].get_values()[0]
     start_point: shapely.geometry.Point = row['geometry']
     end_point_series: pd.Series = df2[nearest]['geometry']
     end_point: shapely.geometry.Point = end_point_series.iloc[0]
     dist_to_point = start_point.distance(end_point)
     #distances.append(dist_to_point)
     return nearest_id, dist_to_point

def point_from_xy(row, df):
    print(row.get('X'))
    #return shapely.geometry.Point(row['X'], row['Y'])
    return

In [3]:
crimes = pd.read_pickle("crimes.pkl")
neighborhoods = pd.read_pickle("neighborhoods.pkl")
with_incomes = pd.read_pickle("with_incomes.pkl")

In [4]:
crimes2 = None
crimes2 = pd.read_pickle('crimes2.pkl')

In [5]:
crimes2.head()

,report_id,date,primary type,category,location description,arrest,community area,geometry
0,8265244,09/15/2011,BURGLARY,property,RESIDENCE,true,false,POINT (-87.771918163 41.95396528)
1,4991465,01/01/2001,DECEPTIVE PRACTICE,other,"SCHOOL, PRIVATE, GROUNDS",true,false,POINT (-87.660604177 42.001678618)
2,5147738,08/01/2001,OFFENSE INVOLVING CHILDREN,person,RESIDENCE,true,false,POINT (-87.66343916300001 41.802219519)
3,5281401,02/26/2001,OTHER OFFENSE,other,HOSPITAL BUILDING/GROUNDS,false,false,POINT (-87.61391851099999 41.802238398)
4,5622147,12/01/2001,OFFENSE INVOLVING CHILDREN,person,RESIDENCE,false,true,POINT (-87.719768573 41.931044901)

In [6]:
crimes = crimes.astype({'id': str})
type(crimes.iloc[0]['id'])

str

In [16]:
schools = None
schools = pd.read_pickle("schools.pkl")

In [ ]:
# Convert GPS to UTM. Chicago is in UTM zone 16T
myProj = Proj("+proj=utm +zone=16T, +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs")
lon, lat = myProj(df['Meters East'].values, df['Meters South'].values, inverse=True)
UTMx, UTMy = myProj(lon, lat)

In [23]:
# Read in a subset of the crimes dataset for testing the nearest neighbor methods
crimes_extract = pd.read_csv("parallel/xaa")
crimes_extract.head()

SyntaxError: can't assign to operator (<ipython-input-23-65ac82290993>, line 2)

# Read in the school locations data, fix the type of the UNIT_ID column, create shapely points from X/Y
# and create the geopandas DataFrame
schools = None
schools = pd.read_csv("school-locations-2010-2011.csv", index_col=2)
schools['UNIT_ID'] = schools.index
schools = schools.astype({'UNIT_ID': int})
schools['geometry'] = list(zip(schools['X'], schools['Y']))
schools['geometry'] = schools['geometry'].apply(shapely.geometry.Point)
schools = gpd.GeoDataFrame(schools)
schools.info()

In [15]:
schools.to_pickle("schools.pkl")

In [31]:
schools.set_index("UNIT_ID")
schools['UNIT_ID'] = schools.index
schools.head

<bound method NDFrame.head of                                              geometry  \
UNIT_ID
4610             POINT (-87.5748539059 41.7483660139)
5180          POINT (-87.57284397069999 41.768650177)
5300              POINT (-87.5829920307 41.768594283)
5440          POINT (-87.60800008530001 41.740365734)
5610          POINT (-87.60015764629999 41.764223475)
5670         POINT (-87.63887832290001 41.7353396836)
5880         POINT (-87.55282162479999 41.7315965518)
6100         POINT (-87.54289106020001 41.7438333435)
6350             POINT (-87.5753168646 41.7268027887)
6900         POINT (-87.60113360690001 41.7400743261)
1135         POINT (-87.66366659329999 41.9028783879)
2123          POINT (-87.66002579629999 41.918307417)
2123         POINT (-87.68663350950001 41.8830789626)
1105             POINT (-87.7080245074 41.8584605337)
6320         POINT (-87.6480500744 41.85485633010001)
6450         POINT (-87.67349331700001 41.8505066999)
6570         POINT (-87.72158610139999 41.8635509367)
7190             POINT (-87.7305177211 41.8747495418)
7610         POINT (-87.6751464286 41.85778307050001)
5640           POINT (-87.66600125959999 41.80718468)
6490             POINT (-87.6285899176 41.8440256847)
4230         POINT (-87.65234193709999 41.8581913914)
4310             POINT (-87.6887553885 41.8718317804)
4430         POINT (-87.71312754590001 41.8629853139)
4430         POINT (-87.71312754590001 41.8629853139)
4710              POINT (-87.641065544 41.8299801723)
5430         POINT (-87.68346213940001 41.8528729234)
5970          POINT (-87.65353406840001 41.865323187)
7720             POINT (-87.6285899176 41.8440256847)
4330     POINT (-87.77910178579999 41.78965242949999)
...                                               ...
3000         POINT (-87.72461928920001 41.8787720794)
3240             POINT (-87.7159169019 41.8757420719)
3410             POINT (-87.7007842312 41.8712233635)
3660         POINT (-87.71869179159999 41.8707145525)
3910         POINT (-87.73592511950001 41.8786358453)
3950             POINT (-87.6803081409 41.8798424992)
4110         POINT (-87.73177013629999 41.8604903878)
4640         POINT (-87.70805527799999 41.8797415311)
5350         POINT (-87.68358053270001 41.8716532695)
5450         POINT (-87.69245007790001 41.8602875388)
6210         POINT (-87.73052903690001 41.8840823974)
6340         POINT (-87.67767816370001 41.8832412635)
6380              POINT (-87.727376424 41.8698905728)
6590             POINT (-87.7393603893 41.8842659962)
6610             POINT (-87.6975402505 41.8782212859)
6730         POINT (-87.69931227629999 41.8829760971)
6740         POINT (-87.68471315319999 41.8840166269)
6920             POINT (-87.7022414857 41.8738423889)
7840             POINT (-87.7326159552 41.8777821388)
8024         POINT (-87.64481451290001 41.9051370494)
2070         POINT (-87.65053087700001 41.8338840006)
2740             POINT (-87.6952654334 41.8664077598)
2890         POINT (-87.6672971431 41.85605777510001)
2930             POINT (-87.6580122022 41.8560007333)
3100          POINT (-87.61776781290001 41.843799623)
3750         POINT (-87.69636525910001 41.8526904081)
3960         POINT (-87.62865008930001 41.8668122615)
3970          POINT (-87.71826941799999 41.862254605)
4020             POINT (-87.6538193964 41.8380544923)
4210         POINT (-87.66226328290001 41.8588754261)

                                    SCHOOL_NM  SCHOOL_ID  \
UNIT_ID
4610                                     MANN     610052
5180                                  OKEEFFE     610103
5300                                 PARKSIDE     610116
5440                                    PIRIE     610130
5610                                   REVERE     610146
5670                                    RYDER     610153
5880                                  MIRELES     610171
6100                                 SULLIVAN     610193
6350                                   WARREN     610218
6900                                     ASHE     610268
1135                   PROLOGUE EARLY COLLEGE     400070
2123                  JEFFERSON CENTER FACTOR     610371
2123                  JEFFERSON CENTER FACTOR     610371
1105     NORTH LAWNDALE CHRTR - CHRISTIANA HS     400058
6320                                    WALSH     610216
6450                                 WHITTIER     610228
6570                                   HENSON     610240
7190                                   MELODY     610293
7610                                   OROZCO     610329
5640                                   CHAVEZ     610148
6490                              WILLIAMS ES     610232
4230                                  JUNGMAN     610015
4310                                     KING     610023
4430                                 LAWNDALE     610034
4430                                 LAWNDALE     610034
4710                                MCCLELLAN     610062
5430                                  PICKARD     610129
5970                                    SMYTH     610180
7720                          WILLIAMS MIDDLE     610336
4330                            KINZIE SCHOOL     610026
...                                       ...        ...
3000                                   DELANO     609881
3240                                  ERICSON     609907
3410                                  KELLMAN     609925
3660                                  GREGORY     609954
3910                                 HEFFERAN     609985
3950                                  HERBERT     609989
4110                                HUGHES, C     610005
4640                                  FARADAY     610055
5350                                   IRVING     610121
5450                                PLAMONDON     610131
6210                                   TILTON     610202
6340                         SUDER MONTESSORI     610405
6380                                  WEBSTER     610221
6590                                  MARCONI     610241
6610                            CALHOUN NORTH     610243
6730                                   CATHER     610251
6740                                     DETT     610252
6920                                   JENSEN     610271
7840                                GOLDBLATT     610348
8024                            SKINNER NORTH     610534
2070                                   ARMOUR     609777
2740                                 CHALMERS     609851
2890                                   COOPER     609867
2930                                    PEREZ     609872
3100                                    DRAKE     609894
3750                                  HAMMOND     609966
3960                               SOUTH LOOP     609990
3970                                    HERZL     609991
4020                                   HOLDEN     609996
4210                                   PILSEN     610013

                                SCH_ADDR GRADE_CAT            SCH_TYPE  \
UNIT_ID
4610                   8050 S CHAPPEL AV        ES   Elementary School
5180                   6940 S MERRILL AV        ES   Elementary School
5300                  6938 S EAST END AV        ES   Elementary School
5440                       650 E 85TH ST        ES   Elementary School
5610                      1010 E 72ND ST        ES   Elementary School
5670                   8716 S WALLACE ST        ES   Elementary School
5880                  9000 S EXCHANGE AV        ES   Elementary School
6100                  8331 S MACKINAW AV        ES   Elementary School
6350                   9239 S JEFFERY AV        ES   Elementary School
6900                 8505 S INGLESIDE AV        ES   Elementary School
1135                   1135 N CLEAVER RD        HS            Contract
2123                 2032 N. CLYBOURN AV        HS  Alternative School
2123                 2032 N. CLYBOURN AV        HS  Alternative School
1105                 1616 S SPAULDING AV        HS             Charter
6320                    2015 S PEORIA ST        ES   Elementary School
6450                      1900 W 23RD ST        ES   Elementary School
6570                     1326 S AVERS AV        ES   Elementary School
7190                     412 S KEELER AV        ES   Elementary School
7610                      1940 W 18TH ST        ES   Elementary School
5640                4747 S MARSHFIELD AV        ES   Elementary School
6490                  2710 S DEARBORN ST        ES   Elementary School
4230                    1746 S MILLER ST        ES   Elementary School
4310                   740 S CAMPBELL AV        ES   Elementary School
4430                   3500 W DOUGLAS BL        ES   Elementary School
4430                   3500 W DOUGLAS BL        ES   Elementary School
4710                   3527 S WALLACE ST        ES   Elementary School
5430                      2301 W 21ST PL        ES   Elementary School
5970                      1059 W 13TH ST        ES   Elementary School
7720                  2710 S DEARBORN ST        MS   Elementary School
4330                    5625 S MOBILE AV        ES   Elementary School
...                                  ...       ...                 ...
3000                    3937 W WILCOX ST        ES   Elementary School
3240                     3600 W FIFTH AV        ES   Elementary School
3410                 751 S SACRAMENTO BL        ES   Elementary School
3660                      3715 W POLK ST        ES   Elementary School
3910                    4409 W WILCOX ST        ES   Elementary School
3950                    2131 W MONROE ST        ES   Elementary School
4110                      4247 W 15TH ST        ES   Elementary School
4640                    3250 W MONROE ST        ES   Elementary School
5350                     749 S OAKLEY BL        ES   Elementary School
5450                      2642 W 15TH PL        ES   Elementary School
6210                     223 N KEELER AV        ES   Elementary School
6340                2022 W WASHINGTON BL        ES   Elementary School
6380                4055 W ARTHINGTON ST        ES   Elementary School
6590                     230 N KOLMAR AV        ES   Elementary School
6610                     2833 W ADAMS ST        ES   Elementary School
6730                2908 W WASHINGTON BL        ES   Elementary School
6740                   2306 W MAYPOLE AV        ES   Elementary School
6920                  3030 W HARRISON ST        ES   Elementary School
7840                     4257 W ADAMS ST        ES   Elementary School
8024                      640 W SCOTT ST        ES   Elementary School
2070                       950 W 33RD PL        ES   Elementary School
2740                 2745 W ROOSEVELT RD        ES   Elementary School
2890                      1624 W 19TH ST        ES   Elementary School
2930                      1241 W 19TH ST        ES   Elementary School
3100     2722 S DR MARTIN LUTHER KING DR        ES   Elementary School
3750                      2819 W 21ST PL        ES   Elementary School
3960                  1212 S PLYMOUTH CT        ES   Elementary School
3970                   3711 W DOUGLAS BL        ES   Elementary School
4020                      1104 W 31ST ST        ES   Elementary School
4210                      1420 W 17TH ST        ES   Elementary School

                 X          Y  UNIT_ID
UNIT_ID
4610    -87.574854  41.748366     4610
5180    -87.572844  41.768650     5180
5300    -87.582992  41.768594     5300
5440    -87.608000  41.740366     5440
5610    -87.600158  41.764223     5610
5670    -87.638878  41.735340     5670
5880    -87.552822  41.731597     5880
6100    -87.542891  41.743833     6100
6350    -87.575317  41.726803     6350
6900    -87.601134  41.740074     6900
1135    -87.663667  41.902878     1135
2123    -87.660026  41.918307     2123
2123    -87.686634  41.883079     2123
1105    -87.708025  41.858461     1105
6320    -87.648050  41.854856     6320
6450    -87.673493  41.850507     6450
6570    -87.721586  41.863551     6570
7190    -87.730518  41.874750     7190
7610    -87.675146  41.857783     7610
5640    -87.666001  41.807185     5640
6490    -87.628590  41.844026     6490
4230    -87.652342  41.858191     4230
4310    -87.688755  41.871832     4310
4430    -87.713128  41.862985     4430
4430    -87.713128  41.862985     4430
4710    -87.641066  41.829980     4710
5430    -87.683462  41.852873     5430
5970    -87.653534  41.865323     5970
7720    -87.628590  41.844026     7720
4330    -87.779102  41.789652     4330
...            ...        ...      ...
3000    -87.724619  41.878772     3000
3240    -87.715917  41.875742     3240
3410    -87.700784  41.871223     3410
3660    -87.718692  41.870715     3660
3910    -87.735925  41.878636     3910
3950    -87.680308  41.879842     3950
4110    -87.731770  41.860490     4110
4640    -87.708055  41.879742     4640
5350    -87.683581  41.871653     5350
5450    -87.692450  41.860288     5450
6210    -87.730529  41.884082     6210
6340    -87.677678  41.883241     6340
6380    -87.727376  41.869891     6380
6590    -87.739360  41.884266     6590
6610    -87.697540  41.878221     6610
6730    -87.699312  41.882976     6730
6740    -87.684713  41.884017     6740
6920    -87.702241  41.873842     6920
7840    -87.732616  41.877782     7840
8024    -87.644815  41.905137     8024
2070    -87.650531  41.833884     2070
2740    -87.695265  41.866408     2740
2890    -87.667297  41.856058     2890
2930    -87.658012  41.856001     2930
3100    -87.617768  41.843800     3100
3750    -87.696365  41.852690     3750
3960    -87.628650  41.866812     3960
3970    -87.718269  41.862255     3970
4020    -87.653819  41.838054     4020
4210    -87.662263  41.858875     4210

[688 rows x 9 columns]>

In [17]:
# Create unary_union object from the schools dataset
schools_unary_union = schools.unary_union

In [18]:
#print(schools['geometry'] == nearest_points(crimes.iloc[2]['geometry'], schools_unary_union))
print(crimes.iloc[2]['geometry'].distance(schools.iloc[100]['geometry']))
#print(crimes.iloc[2]['geometry'])

0.09386390354079342

In [35]:
# Locate the nearest school to each reported crime's location
start_time = time.time
unpackdf = pd.DataFrame(crimes2.apply(distance_to_nearest, axis=1,
                                      args=(
                                          geom_union=schools_unary_union,
                                          df1=crimes2,
                                          df2=schools,
                                          src_column='UNIT_ID',
                                      )).tolist(),
                        columns = ['nearest_school_id',
                                   'nearest_school_distance'],
                        index=crimes2.index)
crimes2=pd.concat([unpackdf, crimes2], axis=1)
end_time = time.time
print("That took {0} seconds".format(end_time - start_time))

SyntaxError: invalid syntax (<ipython-input-35-fdf2658532c9>, line 5)

In [73]:
crimes2.head()

,report_id,date,primary type,category,location description,arrest,community area,geometry
0,8265244,09/15/2011,BURGLARY,property,RESIDENCE,true,false,POINT (-87.771918163 41.95396528)
1,4991465,01/01/2001,DECEPTIVE PRACTICE,other,"SCHOOL, PRIVATE, GROUNDS",true,false,POINT (-87.660604177 42.001678618)
2,5147738,08/01/2001,OFFENSE INVOLVING CHILDREN,person,RESIDENCE,true,false,POINT (-87.66343916300001 41.802219519)
3,5281401,02/26/2001,OTHER OFFENSE,other,HOSPITAL BUILDING/GROUNDS,false,false,POINT (-87.61391851099999 41.802238398)
4,5622147,12/01/2001,OFFENSE INVOLVING CHILDREN,person,RESIDENCE,false,true,POINT (-87.719768573 41.931044901)

In [88]:
crimes_extract = crimes2.iloc[0]
crimes2['category'].value_counts()

property    350564
person      179753
other       101029
vice         89991
Name: category, dtype: int64

unpackdf = pd.DataFrame(crimes_extract.apply(distance_to_nearest,
                                     geom_union=schools_unary_union,
                                     df1=crimes_extract,
                                     df2=schools,
                                     src_column='UNIT_ID',
                                     axis=1).tolist(),
                        columns = ['nearest_school_id',
                                   'nearest_school_distance'],
                        index=test_start.index)

In [60]:
dtn_args = DTN_Args(geom_union=schools_unary_union,
                    df1=crimes_extract,
                    df2=schools,
                    geom1_col='geometry',
                    geom2_col='geometry',
                    src_column="UNIT_ID"
                   )
#schools[dtn_args.geom2_col] == nearest_points(crimes_extract.iloc[0][dtn_args.geom1_col], dtn_args.geom_union)[1]
schools[dtn_args.geom2_col] == nearest_points(crimes_extract['geometry'], dtn_args.geom_union)[1]

UNIT_ID
4610    False
5180    False
5300    False
5440    False
5610    False
5670    False
5880    False
6100    False
6350    False
6900    False
1135    False
2123    False
2123    False
1105    False
6320    False
6450    False
6570    False
7190    False
7610    False
5640    False
6490    False
4230    False
4310    False
4430    False
4430    False
4710    False
5430    False
5970    False
7720    False
4330    False
        ...
3000    False
3240    False
3410    False
3660    False
3910    False
3950    False
4110    False
4640    False
5350    False
5450    False
6210    False
6340    False
6380    False
6590    False
6610    False
6730    False
6740    False
6920    False
7840    False
8024    False
2070    False
2740    False
2890    False
2930    False
3100    False
3750    False
3960    False
3970    False
4020    False
4210    False
Name: geometry, Length: 688, dtype: bool

In [71]:
df = pd.DataFrame({'A':[1,2,3],
                   'B':[4,5,6]})

print (df)

def myfunction(B, A):
    #some staff  
    result = B + A 
    # do something here to get the result
    return result

df['C'] = df.apply(lambda x: myfunction(x.B, x.A), axis=1)
print (df)

   A  B
0  1  4
1  2  5
2  3  6
   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

In [81]:
#np.sum(crimes_extract['report_id'], np.array([100])

str

In [84]:
crimes_extract.apply(lambda x: x['arrest'] && x['community area'])

SyntaxError: invalid syntax (<ipython-input-84-ed6fd95bb485>, line 1)

In [72]:
start_time = time.time
unpackdf = pd.DataFrame(crimes_extract.apply(lambda: distance_to_nearest(dtn_args=dtn_args), axis=1).to_list(),
                        columns = ['nearest_school_id', 'nearest_school_distance'],
                        index = crimes_extract.index)

TypeError: <lambda>() got an unexpected keyword argument 'axis'

In [67]:
# Locate the nearest school to each reported crime's location

start_time = time.time
#unpackdf = pd.DataFrame(crimes_extract.apply(distance_to_nearest, dtn_args, axis=1).to_list(),
unpackdf = pd.DataFrame(crimes_extract.apply(distance_to_nearest, args=(dtn_args), axis=1).to_list(),
                                             columns = ['nearest_school_id', 'nearest_school_distance'],
                                             index = crimes_extract.index)
#                        columns = ['nearest_school_id', 'nearest_school_distance'],
#                        index = crimes_extract.index)
#                        columns = ['nearest_school_id',
#                                   'nearest_school_distance'
#                                  ],
#                        index=crimes_extract.index)

crimes_extract=pd.concat([unpackdf, crimes_extract], axis=1)
end_time = time.time
print("That took {0} seconds".format(end_time - start_time))

TypeError: distance_to_nearest() got an unexpected keyword argument 'axis'

test_start = gpd.GeoDataFrame({"id": pd.Series(["spoint1", "spoint2", "spoint3"],
                                               index=["spoint1", "spoint2", "spoint3"]),
                              "geometry": pd.Series([shapely.geometry.Point(1, 0),
                                                     shapely.geometry.Point(5, 0),
                                                     shapely.geometry.Point(3, 5)
                                                    ],
                                                    index=["spoint1", "spoint2", "spoint3"]
                                                   )}
                             )
test_start

test_end = gpd.GeoDataFrame({"id": pd.Series(["epoint1", "epoint2", "epoint3", "epoint4", "epoint5"],
                                             index=["epoint1", "epoint2", "epoint3", "epoint4", "epoint5"]
                                            ),
                             "geometry": pd.Series([shapely.geometry.Point(-3, 3),
                                                    shapely.geometry.Point(-1, 4),
                                                    shapely.geometry.Point(5, 4),
                                                    shapely.geometry.Point(2, 4),
                                                    shapely.geometry.Point(8, 0)
                                                   ],
                                                   index=["epoint1", "epoint2", "epoint3", "epoint4", "epoint5"]
                                                  )
                            })

test_end

unary_union = test_end.unary_union

unpackdf = pd.DataFrame(test_start.apply(distance_to_nearest, geom_union=unary_union,
                                                              df1=test_start,
                                                              df2=test_end,
                                                              src_column='id',
                                                              axis=1).tolist(),
                        columns = ['nearest_id', 'nearest_distance'], index=test_start.index)
test_start=pd.concat([unpackdf, test_start], axis=1)
test_start

In [153]:
test_start['nearest_id'] = test_start.apply(nearest_id, geom_union=unary_union, df1=test_start, df2=test_end, src_column='id', axis=1)
test_start

Nearest IDs: ['epoint4']
Distances: [<shapely.geometry.point.Point object at 0xb2371d7f0>]
Nearest IDs: ['epoint5']
Distances: [<shapely.geometry.point.Point object at 0xb2371d828>]
Nearest IDs: ['epoint4']
Distances: [<shapely.geometry.point.Point object at 0xb2371d7f0>]

              id     geometry nearest_id
spoint1  spoint1  POINT (1 0)    epoint4
spoint2  spoint2  POINT (5 0)    epoint5
spoint3  spoint3  POINT (3 5)    epoint4

In [142]:
test_start['nearest_id'] = test_start.apply(nearest_id, geom_union=unary_union, df1=test_start, df2=test_end, src_column='id', axis=1)
distances = []
distance_indecies = []
for row in test_start.itertuples():
    start_point = getattr(row, 'geometry')
    end_point = test_end.loc[getattr(row, 'nearest_id')]['geometry']
    distances.append(start_point.distance(end_point))
    distance_indecies.append(row.id)
new_column = pd.Series(distances, index=distance_indecies)
test_start['nearest_distance'] = new_column
print(new_column)
test_start

spoint1    4.123106
spoint2    3.000000
spoint3    1.414214
dtype: float64

              id     geometry nearest_id  nearest_distance
spoint1  spoint1  POINT (1 0)    epoint4          4.123106
spoint2  spoint2  POINT (5 0)    epoint5          3.000000
spoint3  spoint3  POINT (3 5)    epoint4          1.414214

In [32]:
(test_start['nearest_id'], test_start['nearest_point']) = test_start.apply(nearest,
                                                                         geom_union=unary_union,
                                                                         df1=test_start,
                                                                         df2=test_end,
                                                                         src_column='id', axis=1)

Nearest(<class 'geopandas.geoseries.GeoSeries'>): epoint1    False
epoint2    False
epoint3    False
epoint4     True
epoint5    False
Name: geometry, dtype: bool
POINT (2 4)
Nearest(<class 'geopandas.geoseries.GeoSeries'>): epoint1    False
epoint2    False
epoint3    False
epoint4    False
epoint5     True
Name: geometry, dtype: bool
POINT (8 0)
Nearest(<class 'geopandas.geoseries.GeoSeries'>): epoint1    False
epoint2    False
epoint3    False
epoint4     True
epoint5    False
Name: geometry, dtype: bool
POINT (2 4)

ValueError: too many values to unpack (expected 2)

In [146]:
df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])
df
df['foo'], df['bar'] = df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
df

   A  B  foo  bar
0  4  9  foo  bar
1  4  9  foo  bar
2  4  9  foo  bar

In [151]:
start_uu = test_start.unary_union

I'm working on a personal-learning project where I'm trying to figure out what the nearest point from dataframe B is to each point in in dataframe A. I've got that bit working, but it only tells me what the nearest point is. I also want to know how far away the nearest point is, but I'm not figuring it out.

I can find the distance manually one point at a time, but my efforts to do so for the whole list have failed thus far.

Simplified examples of the two dataframes are:

    test_start = gpd.GeoDataFrame([{"id": "spoint1", "geometry": shapely.geometry.Point(1, 0)},
                                   {"id": "spoint2", "geometry": shapely.geometry.Point(5, 0)}])

    test_end = gpd.GeoDataFrame([{"id": "epoint1", "geometry": shapely.geometry.Point(-3, 3)},
                                 {"id": "epoint2", "geometry": shapely.geometry.Point(-1, 4)},
                                 {"id": "epoint3", "geometry": shapely.geometry.Point(5, 4)},
                                 {"id": "epoint4", "geometry": shapely.geometry.Point(2, 4)},
                                 {"id": "epoint5", "geometry": shapely.geometry.Point(8, 0)}
                                ])

The nearest_point method I've cargo-culted from [this tutorial](https://automating-gis-processes.github.io/2017/lessons/L3/nearest-neighbour.html) is:

    def nearest(row, geom_union, df1, df2, geom1_col='geometry', geom2_col='geometry', src_column=None):
        """Find the nearest point and return the corresponding value from specified column."""
        # Find the geometry that is closest
        nearest = df2[geom2_col] == nearest_points(row[geom1_col], geom_union)[1]
        #nearest = df2[geom2_col] == nearest_points(df1, df2)[1]
        # Get the corresponding value from df2 (matching is based on the geometry)
        value = df2[nearest][src_column].get_values()[0]
        return value

which is called from:

    test_start['nearest_id'] = test_start.apply(nearest,
                                                geom_union=unary_union,
                                                df1=test_start,
                                                df2=test_end,
                                                src_column='id', axis=1)

What I want is another column in test_start that contains the distance between the start and end points. As mentioned above, I can do this manually with something like:

    print(test_start["geometry"][0].distance(test_end["geometry"][3]))

but I can't figure out how to do it for the whole test_start dataframe.

This is a very simplified data set. The real starting point data set has over 7 million rows and the end set has around 800, so efficiency may become a factor if the brute-force method takes half a day or more.

Using apply() seemed like it would be a path to get to what I wanted, but I can't figure out how to write it so the system knows which points are being compared.

Somewhat closer. This code gets past the indexing, etc. problems, but appears to select just one end point as being nearest to all of the start points.

     def distance_to_nearest(row, geom_union, df1, df2, geom1_col='geometry', geom2_col='geometry', src_column=None):
         """Find the nearest point and return the corresponding value from specified column."""
         distances = []
         # Find the geometry that is closest
         nearest = df2[geom2_col] == nearest_points(row[geom1_col], geom_union)[1]
         # Get the corresponding value from df2 (matching is based on the geometry)
         nearest_id = df2[nearest][src_column].get_values()[0]
         start_point = row['geometry']
         end_point_series = df2[nearest]['geometry']
         end_point = end_point_series.iloc[0]
         dist_to_point = start_point.distance(end_point)
         distances.append(dist_to_point)
         return nearest_id, dist_to_point